html,
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Microsoft YaHei", Arial, Helvetica Neue, Helvetica, PingFang SC,
    Hiragino Sans GB, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 14px;
}
[v-cloak] {
  display: none !important;
}
li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*公共样式 */

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
/*滚动样式*/
.el-scrollbar__wrap {
  overflow-x: hidden;
}
/*控制中心*/

.lyout .menu .el-submenu__title:focus,
.lyout .menu .el-submenu__title:hover {
  color: #2584ff !important;
  background-color: #474d5d !important;
  opacity: 1;
  display: block !important;
}
.lyout .menu .el-submenu__title:hover .el-submenu__icon-arrow {
  display: block !important;
}
.lyout .menu .el-submenu .el-menu-item {
  height: 44px;
  line-height: 44px;
  padding: 0 49px !important;
  min-width: 0px;
  font-size: 12px;
  color: #fff !important;
}
.lyout .el-menu-item,
.lyout .el-submenu__title {
  height: 44px;
  line-height: 44px;
  position: relative;
  -webkit-box-sizing: border-box;
  white-space: nowrap;
  list-style: none;
  font-size: 12px;
  color: #b0bac4 !important;
}
.lyout .el-submenu__icon-arrow {
  position: absolute;
  top: 54%;
  right: 20px;
  margin-top: -7px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  font-size: 12px;
  display: none;
}
.el-menu-item-group__title {
  padding: 0px 0 0px 20px;
  line-height: normal;
  font-size: 12px;
  color: #909399;
}
.el-menu--collapse {
  width: 70px;
}
/*控制中心*/
/*数据池项目详情*/
.dataPooldetils .el-tabs__nav-wrap::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #f7f8fc;
  z-index: 1;
}
.dataPooldetils .el-tabs__header {
  position: relative;
  margin: 0px 26px 0px 62px;
}
/*项目详情*/
/*数据池与产品定制高级搜索框样式*/
.dataPool .search .el-input__inner,
.VBIM .search .el-input__inner {
  border-radius: 20px;
  background-color: #ffffff;
  height: 35px;
  line-height: 35px;
}
/*弹出层下拉样式*/
.Advancedsearch .el-input__inner {
  background-color: #ffffff;
  border-radius: 4px;
  border: solid 1px #dcdfe6;
  width: 100%;
  z-index: 10000;
  height: 40px;
  line-height: 40px;
}
/* 全局输入框或者下拉框样式 */
.el-input--medium .el-input__inner {
  border-radius: 4px;
  background-color: #ffffff;
  height: 32px;
  line-height: 32px;
}
/* 全局输入框或者下拉框样式 */

.el-input__icon {
  cursor: pointer;
}

.el-button--text {
  color: black;
  font-size: 12px;
}

/* 数据表格样式 */
.el-table .el-table__row {
  height: 40px !important;
}
.el-table td,
.el-table th.is-leaf {
  border-bottom: 0px solid #ebeef5;
}

.el-table {
  font-size: 12px !important;
}
.el-table td {
  padding: 0px !important;
}
.el-table thead {
  color: #8493a9;
  font-size: 12px;
}
.el-table th {
  height: 31px;
  padding: 0px;
  background: #f7f8fc;
}
/* 数据表格样式 */
/* 产品定制 */
.productCustom .el-tabs__item {
  font-size: 12px;
}
.productCustom .el-tabs__nav {
  padding-left: 60px;
}
.productCustom .el-tabs__header {
  padding: 0;
  position: relative;
  margin: 0 0 0px;
}
.productCustom .el-tabs__active-bar {
  position: absolute;
  bottom: 0;
  left: 60px;
}
.productCustom .el-button--small,
.el-button--small.is-round {
  padding: 4px 13px;
}

/* 产品定制 */
/* 结构树鼠标经过背景颜色 */
.el-tree-node__content:hover {
  background-color: #f4f8ff;
  border-radius: 2px;
}
/* 结构树鼠标经过背景颜色 */
/* 面包屑样式 */
.el-breadcrumb {
  font-size: 12px;
}

.el-breadcrumb__inner.is-link {
  font-weight: 400;
}
/* 面包屑样式 */
/* 下拉列表样式 */
.el-select-dropdown {
  z-index: 2100 !important;
}
.el-select-dropdown__wrap {
  max-height: 274px;
  margin-bottom: 0px !important;
}
/* 下拉列表样式 */
/* Popover 弹出框样式 */
.el-popover {
  padding: 0px !important;
  z-index: 2025 !important;
}
/* Popover 弹出框样式 */
/* 结构树行高度 */
.el-tree-node__content {
  height: 34px;
}
.dataPooldetils .el-tree-node__content,
.productCustomdetils .el-tree-node__content {
  height: 28px;
}
/* 结构树行高度 */
.el-button--info.is-disabled {
  /* background: lightgray !important; */
}
/* 下拉列表样式 */
.el-select__tags {
  width: 100% !important;
  max-width: 100% !important;
  overflow: hidden;
  white-space: nowrap;
}

.el-select__tags > span {
  width: 90%;
  display: inline-block;
}

.el-tag--small {
  height: 24px;
  padding: 0 8px;
  line-height: 22px;
  min-width: 2rem;
  overflow: hidden;
}

.el-select .el-tag {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-color: transparent;
  margin: 2px 0 2px 2px;
}
.el-select__tags .el-tag {
  max-width: 90%;
}
.el-select__tags .el-tag:nth-of-type(1) {
  /* max-width: calc(100% - 60px) !important;
  min-width:45%  !important; */
  max-width: 40%;
}
.el-select__tags .el-tag:nth-of-type(2) {
  width: auto;
}
/* Tooltip 文字提示 */

.DateRuleManaWrapper .main {
  min-width: 960px;
}
