html,
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Microsoft YaHei", Arial, Helvetica Neue, Helvetica, PingFang SC,
    Hiragino Sans GB, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 14px;
}
[v-cloak] {
  display: none !important;
}
li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*公共样式 */

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
/*滚动样式*/
.el-scrollbar__wrap {
  overflow-x: hidden;
}
/*控制中心*/


